{{#each this}}
    <li>
        <div>
            <img 
            src="{{urlToImage}}" alt="{{title}}" data-source='{{urlToImage}}' width='320' height='240'
                class='gallery-image' />
        </div>
        <div>
            <h2>{{title}}</h2>
            <p>Author:{{author}} </p>
            <p>Published at: {{publishedAt}} </p>
            <p>Description: {{description}} </p>
            <p>{{content}}</p>
         </div>
    </li>
{{/each}}